/* Give your page a fun background color */
body {
    background-color: rgb(200, 232, 222);
}
/* Make the header and footer a different color from the background */
header {
    color: rgb(120, 115, 146); background-color: white;
}
footer {
    background-color: rgb(120, 115, 146);
}
/* Align the h1 containing your name in the center of the header*/
h1 { text-align: center;}
/* Make your p tag a different color and italic */
p {color: white; font-style: italic; font-family: cursive;}
/* Put a border around your image */
img {border: 5px solid black ;}
/* Change the font-family of your list */
li {font-family: fantasy;}
h2 {font-family: cursive;}
h1 {font-family: fantasy;}